<h1>Meus imóveis</h1>
<% if @places.empty? then %>
  Você ainda não cadastrou nenhum imóvel
  <%= link_to 'Cadastrar seu primeiro imóvel', new_place_path %>
<% end %>
<% @places.each do |p| %>
  <%= link_to(p.title, place_path(p.id)) %>
<%end%>
