<h1>Meus imóveis</h1>
<% if @places.empty? then %>
  Você ainda não cadastrou nenhum imóvel
  <%= link_to 'Cadastrar seu primeiro imóvel', new_place_path %>
<% end %>
<% @places.each do |place| %>
  <%= link_to(place.title) %>
<%end%>
